<div class="flex flex-col alert " *ngIf="registerBox" >
    <div class="flex w-full justify-end ">
        <div class="h-10 w-fit bg-red-600 p-3 m-2 rounded-lg
        text-white font-bold
        "
        (click)="close()"
        >
            X</div>
    </div>
    <div class="flex w-full p-5 flex-col justify-around">
        <div class="flex justify-between">
            <label class="font-bold text-xl">UserName:</label>
            <input type="email" class="bg-green-200 text-xl" required
            [(ngModel)]="registerObj.userName"
            (change)="checkUserName()"
            >    
        </div>
        <br>
        <div class="flex justify-between">
            <label class="font-bold text-xl">Email:</label>
            <input type="email" class="bg-green-200 text-xl" required
            [(ngModel)]="registerObj.email"
            (change)="checkEmail()"
            >    
        </div>
        <br>
        <div class="flex justify-between">
            <label class="font-bold text-xl">Password:</label>
            <input [type]="showPassword?'text':'password'"
             class="bg-green-200 text-xl" required
            [(ngModel)]="registerObj.password"
            >    
            <img src="../../../assets/show.png" alt="showImage" class="w-6 cursor-pointer
            " *ngIf="showPassword"
            (click)="visiblePassword()"
            >
             <img src="../../../assets/hidden.png" alt="hiddenImage"
             class="w-6 cursor-pointer
            " *ngIf="!showPassword" (click)="visiblePassword()"
            >
        </div>
        <br>
        <div class="flex justify-between">
            <label class="font-bold text-xl">Confirm Password:</label>
            <input type="password" class="bg-green-200 text-xl" required
            [(ngModel)]="confirmPassword"
            (change)="checkChanngePassword()"
            >    
           
        </div>
        <br>
        <div class="flex justify-center">
            <span class="font-bold bg-blue-400 p-3 text-xl rounded-md"
            (click)="register()"
            >
                Register
            </span>
        </div>

    </div>
</div>