<div class="flex flex-col alert justify-center" >
    <div class="flex justify-center  flex-row items-center
    h-4/5
    " 
    >
    <div><img src="../../../assets/information.png" class="h-10"></div>
    <div class="text-center font-semibold">Game Progress will not be stored. Cancel to Sign in.</div>
    </div>
    <!-- <div class="flex w-full justify-around h-1/5 m-1">
        <div class="bg-red-500 p-1 rounded-md text-white font-semibold"
        (click)="closealert()">
            Cancel</div>
        <div class="bg-green-500 p-1 rounded-md text-white font-semibold"
        (click)="continueGame()"
        >
            Continue</div>
    </div> -->
</div>