.w-30
{
    width: 30%;
}
.w-32
{
    width: 32%;
}
.cursive
{
    font-family: cursive;
}
.board
{
    height:50vh;
}
.cell
{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    font-size: x-large;
    
}